#adventure-time #splash > video,
#adventure-time #splash > img {
	filter: brightness(50%);
}

#adventure-time	#splash h1:first-of-type {
	top: 45%;
}

@media only screen and (max-width: 500px) {
	#adventure-time #splash h1:first-of-type {
		top: 30%;
	}
}