#bloxels-edu #play {
	background-color: black;
}

#bloxels-edu #play .grid-container
{
	padding-left: 0px;
	padding-right: 0px;
}

#bloxels-edu #play .grid-item {
	max-height: 300px;
	width: 100%;
}

#bloxels-edu #play .background-image {
	filter: none;
}

#bloxels-edu #play h2 {
	font-size: 2em;
}

#bloxels-edu #play h2.sub-heading {
	font-size: 1.25em;
	text-align: right;
}

#bloxels-edu #play .grid-item-content-wrapper > h2 {
	top: 50%;
}

#bloxels-edu #bg-arcade {
	position: absolute;
	top: 0;
	left: 0;

	background-image: url(../images/bloxels-edu-arcade-banner.png);
	width: 2887px; /* display height (300px - 20px padding) / image height * image width */
	height: 100%;

	animation: moveSlideshow 24s linear infinite;
}

@keyframes moveSlideshow {
	100% { 
		transform: translateX(-61.626506%); /* width of repeating section / image width */  
	}
}

@media only screen and (max-width: 1024px) {
	#bloxels-edu #play {
		display: none;
	}
}