.code-sample {
	width: 100%;
	overflow: auto;
}

#history p {
	padding-bottom: 20px;
}

#my-role {
	background-color: skyblue;
	padding-bottom: 20px;
}

#samples {
	background-color: black;
}

#samples h1 {
	color: whitesmoke;
	text-shadow: none;
}

#samples h2 {
	z-index: 1;
}

#samples .grid-item img,
#samples .grid-item video {
	width: 100%;
	filter: grayscale(70%);
}

#samples .grid-item:hover video {
	filter: none;
}

.grid-item-content-wrapper > h2 {
	text-shadow: 0.125em 0.125em 0em black;
	top: 75%;
}
