.code-sample {
	width: 100%;
	overflow: auto;
}

#history p {
	padding-bottom: 20px;
}

#my-role {
	background-color: skyblue;
	padding-bottom: 20px;
}

#samples {
	background-color: #371a76;
}

#samples h1 {
	color: whitesmoke;
	text-shadow: 0.125em 0.125em 0em black;
}

#samples .grid-item video {
	width: 100%;
}

.grid-item-content-wrapper > h2 {
	text-shadow: 0em 0em 0.5em black;
	top: 75%;

	transition: top 0.2s;
}
