.section > p:last-child {
	padding-bottom: 20px;
}

#my-role {
	background-color: skyblue;
}

#samples {
	background-color: #371a76;
}

#samples h1 {
	color: whitesmoke;
	text-shadow: 0.125em 0.125em 0em black;
}

#samples .grid-item video {
	width: 100%;
}

.grid-item-content-wrapper > h2 {
	top: 75%;

	transition: top 0.2s;
}

p > code {
	background-color: black;
	color: whitesmoke;
	padding: 2px;
}
